
.nav-container {
	background-color: white !important;
	border-bottom: 15px solid #001254;
}
.nav-container .navbar-brand-mobile {
	display: none;
}
.nav-container .navbar-collapse {
	display: inline-block !important;
}
.nav-container .navbar-collapse {
	border-left: 1px solid #cccccc;
}
.nav-container .navbar-nav {
	width: 100%;
}
.nav-container .navbar-nav .nav-item-header{
	display: none;
}
.nav-container .navbar-nav li {
	display:inline;
}
.nav-container .navbar-nav a {
	text-decoration: none;
	display: inline-block;
	padding: 0 1em 0 1em;
	color: black;
	font-size: 17px;
	font-weight: 600;
	float: left;
	width: 20%;
	text-align: center;
}

.banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../banner.jpg');
	padding: 5em 0 5em 0;
}
.insights {
	background-color: #ebebeb;
}
.insights-mobile {
	display: none;
}
.upcoming-events-mobile {
	display: none;
}
.footer-mobile {
	display: none;
}

.upcoming-events-mobile small {
	opacity: .8;
}