
.navbar {
	padding-bottom: 0;
}
.nav-container .container {
	padding: 0;
	margin: 0;
	max-width: 1000px;
}
.nav-container .navbar-brand {
	display: none;
}
.nav-container .navbar-toggler {
	margin: 3vw 2vw 3vw 2vw;
	outline: none;
	border: 0;
}
.nav-container .navbar-toggler.collapsed span {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(28, 56, 139, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.nav-container .navbar-toggler span {
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 90 90;' xml:space='preserve'%3E%3Cpolyline style='fill:none;stroke:rgba(188,37,0);stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;' points='40,10 25,25 10,40 '/%3E%3Cpolyline style='fill:none;stroke:rgba(188,37,0);stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;' points='10,10 25,25 40,40 '/%3E%3C/svg%3E");
}
.nav-container .navbar-brand-mobile {
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	top: 0;
	margin-top: 1vw;
}
.nav-container .navbar-brand-mobile img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}
.nav-container .navbar-nav {
	width: 80%;
}    
.nav-container .navbar-nav li {
	margin: 1rem 0 1rem 0 !important;
}    
.nav-container .navbar-nav .nav-item-header {
	border-bottom: 1px solid black;
}
.nav-container .navbar-nav .nav-item-header a {
	color: rgb(22, 55, 134);
	font-size: 18px;
}
.nav-container .navbar-nav .nav-item {
	padding: .5rem 0 .5rem 0 !important;
	background-color: rgb(235, 235, 235);
}
.banner {
	padding: 5em 0 5em 0;
	background-color: #1b9cf8;
}
.banner .title-1 {
	font-size: 15px;
	opacity: 0.8;
}
.banner .title-2 {
	font-size: 35px;
}
.insights {
	display: none;
}
.insights-mobile {
	background-color: #001a7b;
	color: white;
}
.card .card-img {
	height: 20rem;
}
.upcoming-events {
	display: none;
}
.upcoming-events-mobile {
	background-color: #ebebeb;
}
.upcoming-events-mobile h2 {
	color: #001b7b;
}
.upcoming-events-mobile small {
	opacity: .8;
}
.events .card .card__container {
	background-color: #001a7b;
}
.events .card::before{
	background: #c3c3c3;
}
.events .card::after{
	background: #f7f7f7;
	color: #00847e;
}
.events .card .card__label{
	bottom: .5rem;
}
.footer {
	display: none;
}
.footer-mobile .logo {
	background-color: #ebecf0;
	text-align: center;
}
.footer-mobile .contents {
	background-color: #cccccc;
}
.footer-mobile .contents .nav-item {
	font-weight: bolder;
}
.footer-mobile .contents .nav-item-double {
	display: inline-block;
	width: 100%;
}
.footer-mobile .contents .nav-item-double .nav-item {
	display: inline-block;
	width: 50%;
	float: left;
}
.footer-mobile .contents .nav-item-double .nav-item:first-child {
	width: 49%;
}
.footer-mobile .contents .nav-item-double .nav-item:last-child {
	float: right;
	width: 49%;
}
