<template>
   <div>
      <div class="bg-header-dark">
         <div class="content content-full content-top text-center">
            <div class="pt-4 pb-3">
               <h1 class="font-w300 text-white mb-1">Dashboard</h1>
               <h2 class="h3 font-w300 text-white-75">Welcome to MyRecipes!</h2>
            </div>
         </div>
      </div>

      <div class="content content-full">

         <div class="row">
            <div class="col-6">
               <a class="block text-center bg-image" style="background-image: url('assets/media/photos/photo8.jpg');" href="javascript:void(0)" @click="goto('recipe')">
                  <div class="block-content block-content-full bg-gd-leaf-op aspect-ratio-16-9 d-flex justify-content-center align-items-center">
                     <div>
                        <i class="far fa-2x fa-compass text-white"></i>
                        <div class="font-w600 mt-3 text-uppercase text-white">Recipes</div>
                     </div>
                  </div>
               </a>
            </div>
            <div class="col-6">
               <a class="block text-center bg-image" style="background-image: url('assets/media/photos/photo5.jpg');" href="javascript:void(0)" @click="goto('specials')">
                  <div class="block-content block-content-full bg-gd-sea-op aspect-ratio-16-9 d-flex justify-content-center align-items-center">
                     <div>
                        <i class="far fa-2x fa-calendar text-white"></i>
                        <div class="font-w600 mt-3 text-uppercase text-white">Specials</div>
                     </div>
                  </div>
               </a>
            </div>
         </div>

      </div>

   </div>
</template>

<script>
   export default {
      name: 'Home',
      methods: {
         goto(route) {
            this.$router.push(route);
         }
      }
   }
</script>

<style scoped>
</style>
