<template>
	<div>
		
		<div class="bg-header-dark">
			<div class="content content-full">
				<div class="row pt-3">
					<div class="col-md py-3 d-md-flex align-items-md-center text-center">
						<h1 class="text-white mb-0">
							<span class="font-w300">Recipe Details</span>
						</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-white">
			<div class="content content-full">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb breadcrumb-alt bg-light px-4 push">
						<li class="breadcrumb-item">
							<router-link to="/recipe">
								Home
							</router-link></li>
						<li class="breadcrumb-item">
							<router-link to="/recipe">
								Recipe
							</router-link>
						</li>
						<li class="breadcrumb-item active" aria-current="page" v-if="recipeDetails">{{recipeDetails.title}}</li>
					</ol>
				</nav>

				<div class="container mt-3" v-if="recipeDetails">
					<div class="row gutters-tiny items-push push img-fluid-100">
						<div class="col-6 animated fadeIn">
							<a class="img-link img-link-simple img-lightbox" href="javascript:void(0)">
								<img class="img-fluid" :src="recipeDetails.images.full ? `http://localhost:3001${recipeDetails.images.full}` : '/assets/media/photos/no_image.jpg'" alt="Cover Photo">
							</a>

							<div class="mt-2">
								<label>Post Date: </label> {{recipeDetails.postDate | formatDate}} <br>
								<label>Edited: </label> {{recipeDetails.editDate | formatDate}}
							</div>
						</div>

						<div class="col-md-6 p-5">
							<h1 class="display-4">{{recipeDetails.title}}</h1>
							<p class="text-muted">{{recipeDetails.description}}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<a class="block block-fx-shadow text-center" href="javascript:void(0)">
								<div class="block-content block-content-full aspect-ratio-16-9 d-flex justify-content-center align-items-center">
									<div>
										<i class="fa fa-2x fa-utensil-spoon"></i>
										<div class="font-w600 mt-3 text-uppercase">Servings</div>
										<p class="text-muted mb-0">
											{{recipeDetails.servings}}
										</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="block block-fx-shadow text-center" href="javascript:void(0)">
								<div class="block-content block-content-full aspect-ratio-16-9 d-flex justify-content-center align-items-center">
									<div>
										<i class="fa fa-2x fa-clock"></i>
										<div class="font-w600 mt-3 text-uppercase">Prep Time</div>
										<p class="text-muted mb-0">
											{{recipeDetails.prepTime}} mins
										</p>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a class="block block-fx-shadow text-center" href="javascript:void(0)">
								<div class="block-content block-content-full aspect-ratio-16-9 d-flex justify-content-center align-items-center">
									<div>
										<i class="far fa-2x fa-clock"></i>
										<div class="font-w600 mt-3 text-uppercase">Cook Time</div>
										<p class="text-muted mb-0">
											{{recipeDetails.cookTime}} mins
										</p>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="block block-rounded block-fx-shadow">
								<div class="block-header block-header-default">
									<h2 class="block-title">Ingredients</h2>
								</div>
								<div class="block-content">
									<p>
										<ul>
											<li class="mb-3" v-for="item in recipeDetails.ingredients" :key="item.uuid">
												{{item.amount}} {{item.measurement}} <span class="ing-name" v-html="ingredientSpecial(item)"></span>
											</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="block block-rounded block-fx-shadow">
								<div class="block-header block-header-default">
									<h2 class="block-title">Directions</h2>
								</div>
								<div class="block-content">
									<p>
										<ol>
											<li class="mb-3" v-for="item in recipeDetails.directions" :key="item.uuid">
												{{item.instructions}}
											</li>
										</ol>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</template>

<script>
	import API from '@/services/APIService';

	export default {
		name: 'RecipeDetails',
		components: {
		},
		data() {
			return {
				recipeDetails: null,
				specials: null,
			}
		},
		mounted() {
			this.getRecipe(this.$route.params.id);
		},	
		methods: {
			async getRecipe(id) {
				let vm = this;
				try {
					let recipe = await API.recipeDetails(id);
					let specials = await API.specials();

					if (specials && specials['data']) {
						vm.specials = specials['data'];
					}
					if (recipe && recipe['data']) {
						vm.recipeDetails = recipe['data'];
					}
					vm.$nextTick(function() {
						$('.popover-specials').popover({
							trigger: 'hover '
						});
					});
				} catch(err) {
					console.log(err);
				}
			},

			ingredientSpecial(item) {
				let vm = this;
				let exist = vm.specials.find(v => v.ingredientId == item.uuid);
				if (exist) {
					return `<a class="popover-specials text-info" data-toggle="popover" data-placement="top" title="${exist.title} - ${exist.type}" data-content="${exist.text}">${item.name}</a>`;
				} else {
					return `${item.name}`;
				}

			}
		},
		filters: {
			formatDate: function (value) {
				if (value) {
					return moment(value).format('L LT');
				}
				return "";
			}
		}
	}
</script>

<style>
	span.ing-name .popover-specials:hover {
		cursor: pointer;
	}
</style>
