<template>
	<div>

		<div class="bg-header-dark">
			<div class="content content-full">
				<div class="row pt-3">
					<div class="col-md py-3 d-md-flex align-items-md-center text-center">
						<h1 class="text-white mb-0">
							<span class="font-w300">{{title}}</span>
						</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-white">
			<div class="content content-full">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb breadcrumb-alt bg-light px-4 push">
						<li class="breadcrumb-item">
							<router-link to="/">
								Home
							</router-link>
						</li>
						<li class="breadcrumb-item">
							<router-link to="/recipe">
								Recipes
							</router-link>
						</li>
						<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
					</ol>
				</nav>

				<div class="container mt-3">

					<div class="block block-rounded block-fx-shadow" id="form-block">
						<div class="block-content">

							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Title <span class="text-danger">*</span></label>
										<input class="form-control" type="text" v-model="form.title">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Description <span class="text-danger">*</span></label>
										<textarea class="form-control" v-model="form.description"></textarea>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Servings <span class="text-danger">*</span></label>
										<div class="input-group">
                                            <input type="number" class="form-control" v-model="form.servings">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    mins.
                                                </span>
                                            </div>
                                        </div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Prep Time <span class="text-danger">*</span></label>
										<div class="input-group">
                                            <input type="number" class="form-control" v-model="form.prepTime">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    mins.
                                                </span>
                                            </div>
                                        </div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Cook Time <span class="text-danger">*</span></label>
										<div class="input-group">
                                            <input type="number" class="form-control" v-model="form.cookTime">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    mins.
                                                </span>
                                            </div>
                                        </div>
									</div>
								</div>

								<div class="col-md-12">
									<label>Ingredients <span class="text-danger">*</span></label>
									<table class="table table-bordered table-vcenter">
										<thead class="thead-light">
											<tr>
												<th width="30%">Name</th>
												<th width="30%">Amount</th>
												<th width="30%">Measurement</th>
												<th class="text-center" width="10%">
													<button type="button" class="btn btn-sm btn-primary" @click="addIngredient">
														<i class="fa fa-plus"></i>
													</button>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="(item, i) in form.ingredients" :key="i">
												<td>
													<input class="form-control" type="text" v-model="item.name">
												</td>
												<td>
													<input class="form-control" type="text" v-model="item.amount">
												</td>
												<td>
													<input class="form-control" type="text" v-model="item.measurement">
												</td>
												<td class="text-center">
													<button type="button" class="btn btn-sm btn-danger" @click="deleteIngredient(i)" v-show="form.ingredients.length > 1">
														<i class="far fa-trash-alt"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-md-12">
									<label>Directions <span class="text-danger">*</span></label>
									<table class="table table-bordered table-vcenter">
										<thead class="thead-light">
											<tr>
												<th width="10%"></th>
												<th width="80%">Instructions</th>
												<th class="text-center" width="10%">
													<button type="button" class="btn btn-sm btn-primary" @click="addIngredient">
														<i class="fa fa-plus"></i>
													</button>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="(item, i) in form.directions" :key="i">
												<td class="text-center">{{i+1}}.</td>
												<td>
													<input class="form-control" type="text" v-model="item.instructions">
												</td>
												<td class="text-center">
													<button type="button" class="btn btn-sm btn-danger" @click="deleteDirection(i)" v-show="form.directions.length > 1">
														<i class="far fa-trash-alt"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="col-md-12 mb-3 text-right">
									<button type="button" class="btn btn-success" @click="save">
										<i class="far fa-save"></i> Save
									</button>							
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</template>

<script>
	import API from '@/services/APIService';
	import moment from 'moment';

	export default {
		name: 'RecipeAdd',
		components: {

		},
		data() {
			return {
				title: '',
				form: {
					ingredients: [],
					directions: [],
				},
			}
		},
		mounted() {
			let vm = this;
			console.log(vm.$route.params.id)
			if (vm.$route.params.id) {
				console.log(1)
				vm.title = 'Edit Recipe';
				vm.getRecipe(vm.$route.params.id);
			} else {
				vm.addIngredient();
				vm.addDirection();
				vm.title = 'Add New Recipe';
			}
		},	
		methods: {
			deleteIngredient(index) {
				let vm = this;
				vm.form.ingredients.splice(index, 1);
			},
			addIngredient() {
				let vm = this;
				vm.form.ingredients.push({
					name: null,
					amount: null,
					measurement: null,
				})
			},
			deleteDirection(index) {
				let vm = this;
				vm.form.directions.splice(index, 1);
			},
			addDirection() {
				let vm = this;
				vm.form.directions.push({
					instructions: null,
				})
			},
			async save() {
				let vm = this;
				try {
					Dashmix.block('state_loading', '#form-block');
					let param = {};
					if (vm.form.uuid) {
						param = {
							...vm.form,
							editDate: moment().format('L LT'),
						}
						await API.updateRecipe(param);
					} else {
						param = {
							...vm.form,
							images: {},
							postDate: moment().format('L LT'),
							editDate: moment().format('L LT'),
						}
						await API.newRecipe(param);
					}

					vm.$router.push({ name: 'recipe' });
				} catch(err) {
					console.log(err);
				}
			},
			async getRecipe(id) {
				let vm = this;
				try {
					let recipe = await API.recipeDetails(id);
					// let specials = await API.specials();

					// if (specials && specials['data']) {
					// 	vm.specials = specials['data'];
					// }
					if (recipe && recipe['data']) {
						// vm.recipeDetails = recipe['data'];
						vm.form = recipe['data'];
					}
					// vm.$nextTick(function() {
					// 	$('.popover-specials').popover({
					// 		trigger: 'hover '
					// 	});
					// });
				} catch(err) {
					console.log(err);
				}
			},
		}
	}
</script>

<style scoped>
</style>
