<template>
	<div>

		<div class="bg-header-dark">
			<div class="content content-full">
				<div class="row pt-3">
					<div class="col-md py-3 d-md-flex align-items-md-center text-center">
						<h1 class="text-white mb-0">
							<span class="font-w300">Recipes</span>
						</h1>
					</div>
					<div class="col-md py-3 d-md-flex align-items-md-center justify-content-md-end text-center">
						<router-link class="btn btn-hero-primary mr-1" to="/recipe-new">
							<i class="fa fa-plus mr-1"></i> New Recipe
						</router-link>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-white">
			<div class="content content-full">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb breadcrumb-alt bg-light px-4 push">
						<li class="breadcrumb-item">
							<router-link to="/">
								Home
							</router-link>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Recipes</li>
					</ol>
				</nav>

				<div class="container mt-3">
					<div class="row">
						<div class="col-md-4" v-for="(recipe, idx) in recipes" :key="idx">
							<div class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-image js-click-ripple-enabled" style="overflow: hidden; position: relative; z-index: 1;" :style="{ 'background-image': 'url(http://localhost:3001' + recipe.images.medium || null + ')' }" data-toggle="click-ripple">
								<div class="block-content block-content-full bg-black-50">
									<button type="button" class="btn btn-info" @click="gotoFormRecipe(recipe.uuid)">
                               <i class="fa fa-fw fa-edit"></i>
                            </button>
									<button type="button" class="btn btn-primary ml-2" @click="gotoRecipe(recipe.uuid)">
                               <i class="fa fa-fw fa-eye"></i>
                            </button>
									<div class="py-6">
										<h3 class="font-w700 text-white mb-1">{{recipe.title}}</h3>
										<div class="font-size-sm text-white mb-2">
											{{recipe.description}}
										</div>
									</div>
									<span class="font-size-sm font-w700 text-uppercase text-white-75">
										{{ingredients(recipe.ingredients.length)}} | {{servings(recipe.servings)}}
									</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	import API from '@/services/APIService';

	export default {
		name: 'Recipe',
		components: {

		},
		data() {
			return {
				recipes: [],
			}
		},
		mounted() {
			this.getRecipes();
		},	
		methods: {
			async getRecipes() {
				let vm = this;
				try {
					let recipes = await API.recipes();
					if (recipes && recipes['data']) {
						vm.recipes = recipes['data'];
					}
				} catch(err) {
					console.log(err);
				}
			},
			ingredients(count) {
				if (count > 1) {
					return `${count} Ingredients`;
				}
				return `${count} Ingredient`;
			},
			servings(count) {
				if (count > 1) {
					return `${count} Servings`;
				}
				return `${count} Serving`;
			},
			gotoRecipe(id) {
				let vm = this;
				vm.$router.push('/recipe/'+id);
			},
			gotoFormRecipe(id) {
				let vm = this;
				vm.$router.push('/recipe-new/'+id);
			}
		}
	}
</script>

<style scoped>
</style>
