<template>
	<div>

		<div class="bg-header-dark">
			<div class="content content-full">
				<div class="row pt-3">
					<div class="col-md py-3 d-md-flex align-items-md-center text-center">
						<h1 class="text-white mb-0">
							<span class="font-w300">Specials</span>
						</h1>
					</div>
					<div class="col-md py-3 d-md-flex align-items-md-center justify-content-md-end text-center">
						<router-link class="btn btn-hero-primary mr-1" to="/specials-new">
							<i class="fa fa-plus mr-1"></i> New Special
						</router-link>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-white">
			<div class="content content-full">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb breadcrumb-alt bg-light px-4 push">
						<li class="breadcrumb-item">
							<router-link to="/">
								Home
							</router-link>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Specials</li>
					</ol>
				</nav>

				<div class="container mt-3">
					<div class="row">
						<div class="col-md-4" v-for="(specials, idx) in specials" :key="idx">
							<div class="block block-rounded text-center">
                                <div class="block-content block-content-full block-content-sm bg-body-light">
                                    <div class="font-w600">{{specials.title}} - {{specials.type}}</div>
                                    <div class="font-size-sm text-muted">{{specials.text}}</div>
                                </div>
                                <div class="block-content block-content-full">
									<router-link :to="`/specials/${specials.uuid}`" class="btn btn-light">
                                        <i class="fa fa-pencil-alt text-muted mr-1"></i> Edit
									</router-link>
                                </div>
                            </div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</template>

<script>
	import API from '@/services/APIService';

	export default {
		name: 'Specials',
		components: {

		},
		data() {
			return {
				specials: [],
			}
		},
		mounted() {
			this.getSpecials();
		},	
		methods: {
			async getSpecials() {
				let vm = this;
				try {
					let specials = await API.specials();
					if (specials && specials['data']) {
						vm.specials = specials['data'];
					}
				} catch(err) {
					console.log(err);
				}
			},
			// ingredients(count) {
			// 	if (count > 1) {
			// 		return `${count} Ingredients`;
			// 	}
			// 	return `${count} Ingredient`;
			// },
			// servings(count) {
			// 	if (count > 1) {
			// 		return `${count} Servings`;
			// 	}
			// 	return `${count} Serving`;
			// },
			// gotoRecipe(id) {
			// 	let vm = this;
			// 	vm.$router.push('/recipe/'+id);
			// },
			// gotoFormRecipe(id) {
			// 	let vm = this;
			// 	vm.$router.push('/recipe-new/'+id);
			// }
		}
	}
</script>

<style scoped>
</style>
