<template>
	<div>

		<div class="bg-header-dark">
			<div class="content content-full">
				<div class="row pt-3">
					<div class="col-md py-3 d-md-flex align-items-md-center text-center">
						<h1 class="text-white mb-0">
							<span class="font-w300">{{title}}</span>
						</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-white">
			<div class="content content-full">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb breadcrumb-alt bg-light px-4 push">
						<li class="breadcrumb-item">
							<router-link to="/">
								Home
							</router-link>
						</li>
						<li class="breadcrumb-item">
							<router-link to="/specials">
								Specials
							</router-link>
						</li>
						<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
					</ol>
				</nav>

				<div class="container mt-3">

					<div class="block block-rounded block-fx-shadow" id="form-block">
						<div class="block-content">

							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Title <span class="text-danger">*</span></label>
										<input class="form-control" type="text" v-model="form.title">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Type <span class="text-danger">*</span></label>
										<input class="form-control" type="text" v-model="form.type">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Text <span class="text-danger">*</span></label>
										<textarea class="form-control" v-model="form.text"></textarea>
									</div>
								</div>

								<div class="col-md-12 mb-3 text-right">
									<button type="button" class="btn btn-success" @click="save">
										<i class="far fa-save"></i> Save
									</button>							
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</template>

<script>
	import API from '@/services/APIService';
	import moment from 'moment';

	export default {
		name: 'RecipeAdd',
		components: {

		},
		data() {
			return {
				title: '',
				form: {
					ingredients: [],
					directions: [],
				},
			}
		},
		mounted() {
			let vm = this;
			if (vm.$route.params.id) {
				vm.title = 'Edit Special';
				vm.getSpecial(vm.$route.params.id);
			} else {
				vm.title = 'Add New Special';
			}
		},	
		methods: {
			async save() {
				let vm = this;
				try {
					Dashmix.block('state_loading', '#form-block');
					let param = {};
					if (vm.form.uuid) {
						await API.updateSpecial(vm.form);
					} else {
						await API.newSpecial(vm.form);
					}

					vm.$router.push({ name: 'specials' });
				} catch(err) {
					console.log(err);
				}
			},
			async getSpecial(id) {
				let vm = this;
				try {
					let special = await API.specialDetails(id);
					if (special && special['data']) {
						vm.form = special['data'];
					}
				} catch(err) {
					console.log(err);
				}
			},
		}
	}
</script>

<style scoped>
</style>
