<template>
	<!-- <div id="app">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<router-link to="/tutorials" class="nav-link">Recipes</router-link>
						</li>
						<li class="nav-item">
							<router-link to="/add" class="nav-link">Add</router-link>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container mt-3">
			<router-view />
		</div>
	</div> -->


		<div id="page-container" class="sidebar-dark side-scroll page-header-fixed page-header-dark main-content-boxed">

			<nav id="sidebar" aria-label="Main Navigation">
				<div class="content-header bg-primary">
					<router-link to="/" class="text-dual d-inline-block font-w600">
						<i class="fa fa-globe-americas mr-1"></i> My<span class="font-w700">Recipes</span>
					</router-link>

					<div>
						<a class="d-lg-none text-white ml-2" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)">
							<i class="fa fa-times-circle"></i>
						</a>
					</div>
				</div>

				<div class="content-side content-side-full">
					<ul class="nav-main">
						<li class="nav-main-item">
							<router-link to="/recipe" class="nav-main-link">
								<i class="nav-main-link-icon far fa-compass"></i>
								<span class="nav-main-link-name">Recipes</span>
							</router-link>
						</li>
						<li class="nav-main-item">
							<router-link to="/specials" class="nav-main-link">
								<i class="nav-main-link-icon far fa-calendar"></i>
								<span class="nav-main-link-name">Specials</span>
							</router-link>
						</li>
					</ul>
				</div>
			</nav>

			<header id="page-header">
				<div class="content-header">
					<div class="d-flex align-items-center">
						<router-link to="/" class="text-dual link-fx">
							<i class="fa fa-globe-americas mr-1"></i> My<span class="font-w700">Recipes</span>
						</router-link>
					</div>

					<div>
						<button type="button" class="btn btn-dual d-lg-none ml-1" data-toggle="layout" data-action="sidebar_toggle">
							<i class="fa fa-fw fa-bars"></i>
						</button>

						<ul class="nav-main nav-main-horizontal nav-main-hover d-none d-lg-block ml-4">
							<li class="nav-main-item">
								<router-link to="/recipe" class="nav-main-link">
									<i class="nav-main-link-icon far fa-compass"></i>
									<span class="nav-main-link-name">Recipes</span>
								</router-link>
							</li>
							<li class="nav-main-item">
								<router-link to="/specials" class="nav-main-link">
									<i class="nav-main-link-icon far fa-calendar"></i>
									<span class="nav-main-link-name">Specials</span>
								</router-link>
							</li>
						</ul>
					</div>
				</div>

				<div id="page-header-search" class="overlay-header bg-primary">
					<div class="content-header">
						<form class="w-100" action="be_pages_generic_search.html" method="POST">
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="button" class="btn btn-primary" data-toggle="layout" data-action="header_search_off">
										<i class="fa fa-fw fa-times-circle"></i>
									</button>
								</div>
								<input type="text" class="form-control border-0" placeholder="Search your company.." id="page-header-search-input" name="page-header-search-input">
							</div>
						</form>
					</div>
				</div>

				<div id="page-header-loader" class="overlay-header bg-primary-darker">
					<div class="content-header">
						<div class="w-100 text-center">
							<i class="fa fa-fw fa-2x fa-sun fa-spin text-white"></i>
						</div>
					</div>
				</div>
			</header>

			<main id="main-container">
				<router-view />
			</main>

			<footer id="page-footer" class="bg-body-light">
				<div class="content py-0">
					<div class="row font-size-sm">
						<div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-right">
							Crafted with <i class="fa fa-heart text-danger"></i> by <a class="font-w600" href="https://1.envato.market/ydb" target="_blank">Louise</a>
						</div>
						<div class="col-sm-6 order-sm-1 text-center text-sm-left">
							<a class="font-w600" href="/" target="_blank">MyRecipes</a> &copy; <span data-toggle="year-copy">2021</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
</template>

<script>

	export default {
		name: "App",
		components: {

		},
		mounted() {
		},
		methods: {
		}
	};
</script>